{
  "Servers": {
    "1": {
      "Name": "k8s-lab",
      "Group": "Servers",
      "Username": "__POSTGRES_USER__",
      "Port": 5432,
      "Host": "postgres.data.svc.cluster.local",
      "SSLMode": "prefer",
      "MaintenanceDB": "__POSTGRES_DB__",
      "PassFile": "/var/lib/pgadmin/storage/admin_k8s-lab.local/.pgpass"
    }
  }
}
